NEXT_PUBLIC_SUPABASE_URL=https://bjwhnvycmmombavmrucb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJqd2hudnljbW1vbWJhdm1ydWNiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM0MDk1ODQsImV4cCI6MjA5ODk4NTU4NH0.efpELIn2QEyxeY99siG2wNyaa0bX6gCfmSsjjk3Qd10